    @font-face {
        font-family: Archivo;
        src: url("../../assets/fonts/archivo.ttf");
    }
    #creditlist {
        text-align: center;
        color: white !important;
    }
    html, body {
        color: white;
    }